[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sockets = "*"
random2 = "*"
jsonlib-python3 = "*"
requests = "*"
ipaddress = "*"
python-dateutil = "*"
threaded = "*"
futures = "~=3.1.1"

[dev-packages]

[requires]
python_version = "3.7"
